.Men{
      margin: auto;
      width:80%;
}
.Men-quote{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      font-family: "Poppins"; 
}
.Men-quote > p{
      max-width: 80%;
      font-size: 13px;
}
.Men-images {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem; /* Space between images */
      padding-top: 5rem;
      justify-content: center;
    }
    
    .Men-container {
      position: relative;
    }
    .like {
      position: absolute;
      top: 8px;
      right: 8px;
      background: transparent;
      border: none;
      font-size: 24px;
      cursor: pointer;
      color: red;
     
    }
    
    
    .liked {
      animation: bubble 0.1s ease-in-out forwards;
    }
    
    @keyframes bubble {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.5);
      }
      100% {
        transform: scale(1);
      }
    }
    
    .price {
      position: absolute;
      bottom: 60px;
      left: 0;
      background-color: rgba(255, 255, 255, 0.7);
      padding: 5px 10px;
      font-size: 19px;
      border-radius: 10px;
    }
    
    .Men-images img {
      height: 350px;
      width: 100%;
      border: none;
      box-shadow: 0px 0px 5px rgba(177, 176, 176, 0.234);
      border-radius: 10px;
      transition: transform 0.3s ease;
    }
    
    .Men-images img:hover {
      transform: scale(1.1);
    }
    
    .name {
      position: absolute;
      bottom: 90px;
      margin-bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(255, 255, 255, 0.7);
      padding: 5px 10px;
      font-size: 15px;
      max-width: 100%;
      border-radius: 10px;
    }
    
    .discount {
      position: absolute;
      bottom: 60px;
      right: 0;
      background-color: rgba(255, 255, 255, 0.7);
      padding: 5px 10px;
      font-size: 19px;
      border-radius: 10px;
      color: red;
    }
    
    .add-to-cart {
      display: block;
      width: 100%;
      margin: 10px auto 0 auto;
      padding: 10px;
      font-size: 18px;
      background-color: #000;
      color: #fff;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .add-to-cart:hover {
      background-color: #444;
    }
    